#contacts-table {
    font-family: "Lucida Bright", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}

#contacts-table td, #contacts-table th {
    border: 1px solid #ddd;
    padding: 7px;
}

#contacts-table tr:nth-child(even){background-color: #f2efa5;}
#contacts-table tr:nth-child(odd){background-color: #c9f2e0;}

#contacts-table tr:hover {background-color: #ddd;}

#contacts-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    /*text-align: center;*/
    background-color: #1892af;
    color: white;
}

#contacts-table tr{
    /*text-align: center;*/
}

#add-contact {
    font-family: "Lucida Bright", Arial, Helvetica, sans-serif;
    background-color: #cff8ff;
    padding: 2px 5px 15px 8px;
}